*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Rubik Puddles', cursive;
    padding: 10px;
    background-color: #f06d06;
    
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    height: 650px;
    width: 650px;
    border-radius: 2%;
    margin: 50px;
    display: grid;
    background-color: rgb(0, 44, 189);
    grid-template-columns: 108px 108px 108px 108px 108px 108px;
    box-shadow: 0 0 55px 40px #fcd93f;
}

.column {
    display: grid;
    grid-template-rows: 108px 108px 108px 108px 108px 108px;
}

.gameBoard:after {
    width: 200px;
    height: 200px;
    background: #dd6103;
    position: relative;
    border: 5px solid rgb(35, 35, 228);  
    margin: 20px;
}



header {
    height: min-content;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    font-family:'Rubik Puddles', cursive;
    font-size: 70px;
    font-weight: bold;  
    text-shadow: 2px 2px 4px #000000;
    color: rgb(255, 255, 255);
}


.circle {
    border: solid;
    border-radius: 50%;
    margin: 5px;  
    display: grid; 
    background-color: rgb(255, 238, 223);
}


.circle:hover {
    border-color: rgb(238, 83, 83);
    padding: 1px;
}


h3 {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    position: sticky;
}


.column:hover {
    background-color: rgb(132, 144, 255);
    opacity: 100%;
    border-radius: 3%;
}




button {
    height: 25px;
    width: 55px;
    background-color: #ff7755;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    margin: 4px;
    transition: 0.3s;
    border-radius: 10px;
}